<!DOCTYPE html>
<html lang="en">

<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">walmark</li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Placeholder</a></li>
      <li><a href="#">Placeholder</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class="button">Login</a></li>
      <li><a class="button">Register</a></li>
    </ul>
  </div>
</div>

</html>
