<!DOCTYPE html>
<html lang="en">

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li id="logo-text" class="menu-text"><a href="/">Walmark</a></li>
      <li class="walmark"><a href="/"><img src="/images/Walmart_Spark.fw.png" width="25px" height="25px"></a></li>
      <%if (id) {%>
      <li class="menu-text"><a href="/users/<%=username%>">Account</a></li>
      <li class="menu-text"><a href="/users/<%=username%>/profile">Profile</a></li>
      <li class="menu-text">
        <form method="GET" action="/results">
          <input  id="search" type="text" placeholder="Search" name="search">
          <img class="search"  src="/images/search.png" width="20px" height="20px">
          <%}%>
        </form>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <%if (!id) {%>
        <li>
          <button class="button" data-open="login">Login</button>
          <div class="reveal" id="login" data-reveal>
            <form method="POST" action="/login">
              <h4 class="text-center">Login</h4>
              <label>Username<input type="text" placeholder="Username" name="username"></label>
              <label>Password<input type="password" placeholder="Password" name="password"></label>
              <p><input type="submit" class="button expanded" value="Login"></p>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </li>
        <li>
          <button class="button" data-open="register">Register</button>
          <div class="reveal" id="register" data-reveal>
            <form method="POST" action="/register">
              <h4 class="text-center">Register</h4>
              <label>Full Name<input type="text" placeholder="John Doe" name="fullName"></label>
              <label>Username<input type="text" placeholder="Username" name="username"></label>
              <label>Email<input type="email" placeholder="somebody@example.com" name="email"></label>
              <label>Password<input type="password" placeholder="Password" name="password"></label>
              <p><input type="submit" class="button expanded" value="Register"></p>
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </li>
      <%} else {%>
        <li><a href="/links/create"><i class="fas fa-plus-circle"></i></a></li>
        <li><a href="/users/<%=username%>/profile">Welcome <%=full_name%>!</a></li>
        <li>
          <form method="POST" action="/logout">
            <button class="button" type="submit">Logout</button>
          </form>
        </li>
        <%}%>
    </ul>
  </div>
</div>
</html>
