<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/account_page.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css" type="text/css" />
  </head>



  <body>
  <% include ./partials/_header %>
    <h2>Hub</h2>
    <p>Email: </p>



<div class="resource-bar">
  <a id="click1">Walls</a>
  <a id="click2">Links</a>
  <a id="click3">Saved</a>
</div>

<% for (let wall = 0; wall < walls.length; wall++) {%>
        <div class="boards">
          <h2 class= "boardTitle">Wall: <%=walls[wall].title%></h2>
        </div>
      <%};%>


  <script type="text/javascript" src="/vendor/jquery.js"></script>
  <script type="text/javascript" src="/vendor/what-input.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/vendor/masonry.pkgd.js"></script>
  <script type="text/javascript" src="/vendor/imagesloaded.pkgd.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>
