<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Walmark</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create-link.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css">
    <script>$(document).foundation();</script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/vendor/masonry.pkgd.js"></script>
    <script src="/vendor/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



  <body>
  <% include ./partials/_header %>

  <div id="newlink-container">
     <form action="/create" method="POST">
        <input placeholder="Add your title" type="text" name="link-title" required />
        <input placeholder="Insert the link here" type="text" name="link-url" required />
        <textarea placeholder="Descripe your resource" type="text" name="link-desc"></textarea>
          <span>Pick a Topic</span>
          <div class="dropdown-options">
              <select>
                <option id="program">Programming</option>
                <option id="music">Music</option>
                <option id="math">Math</option>
              </select>
          </div>
        <button class="button mark">Mark</button>
    </form>
  </div>


   <div class="newpin"><img class="newimg" src="#"></div>



  </body>
</html>
