<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" href="vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/foundation.css" type="text/css" />
  </head>



  <body>
  <% include ./partials/_header %>
    <h1>Walmark<img src="images/walmart.png" width="40px" height="40px"></h1>
    <p>Save links. Learn better.</p>

  <div class="container">
      <div class="links">
        <img src="images/fashion.jpg">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean vulputate lacus sit amet malesuada dignissim. Nulla facilisi. Pellentesque tortor arcu, convallis vel tincidunt sit amet, efficitur in nisl. Donec accumsan nec diam a rutrum. Nulla et nulla tristique.</p>
      </div>
      <div class="links">
        <img src="images/splash.jpg">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus eros id efficitur scelerisque. Pellentesque sed vehicula eros, vel luctus velit. Aliquam erat volutpat. Integer eget quam non massa pharetra placerat id non erat. Duis molestie lectus quam, a interdum dui sollicitudin nec. Nam odio dolor, dictum eget justo vel, egestas ultrices enim. In scelerisque, lorem efficitur semper finibus, ex elit volutpat risus, id feugiat neque quam nec massa. Sed varius nibh metus, in efficitur ante pulvinar at. Nulla facilisi. Aliquam aliquam nibh vel placerat laoreet. Morbi non orci et orci hendrerit aliquam. Pellentesque fermentum leo dapibus turpis feugiat,
           </p>
      </div>
      <div class="links">
        <img src="images/fashion.jpg">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  tincidunt sit amet, efficitur in nisl. Donec accumsan nec diam a rutrum. Nulla et nulla tristique.</p>
      </div>
      <div class="links">
        <img src="images/mcd.png">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus eros id efficitur scelerisque. Pellentesque sed vehicula eros, vel luctus velit. Aliquam erat volutpat. Integer eget quam non massa pharetra placerat id non erat. Duis molestie lectus quam, a interdum dui sollicitudin nec. Nam odio dolor, dictum eget justo vel, egestas ultrices enim. In scelerisque, lorem efficitur semper finibus, ex elit volutpat risus, id feugiat neque quam nec massa. Sed varius nibh metus, in efficitur ante pulvinar at. Nulla facilisi. Aliquam aliquam nibh vel placerat laoreet. Morbi non orci et orci hendrerit aliquam. Pellentesque fermentum leo dapibus turpis feugiat, quis consectetur eros condimentum. Nam egestas leo quis purus accumsan tincidunt.
          Aenean vulputate lacus sit amet malesuada dignissim. Nulla facilisi. Pellentesque tortor arcu, convallis vel tincidunt sit amet, efficitur in nisl. Donec accumsan nec diam a rutrum. Nulla et nulla tristique.</p>
      </div>
      <div class="links">
        <img src="images/fashion.jpg">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus eros id efficitur scelerisque. Pellentesque sed vehicula eros, vel luctus velit. Aliquam erat volutpat. Integer eget quam non massa pharetra placerat id non erat. Duis molestie lectus quam, a interdum dui sollicitudin nec. Nam odio dolor, dictum eget justo vel, egestas ultrices enim. In scelerisque, lorem efficitur semper finibus, ex elit volutpat risus, id feugiat neque quam nec massa. Sed varius nibh metus, in efficitur ante pulvinar at. Nulla facilisi. Aliquam aliquam nibh vel placerat laoreet. Morbi non orci et orci hendrerit aliquam. Pellentesque fermentum leo dapibus turpis feugiat, quis consectetur eros condimentum. Nam egestas leo quis purus accumsan tincidunt.
          efficitur in nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Donec accumsan nec diam a rutrum. Nulla et nulla tristique.</p>
      </div>
      <div class="links">
        <img src="images/pika.jpeg">
        <h2>Title of link</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus eros id efficitur scelerisque. Pellentesque sed vehicula eros, vel luctus velit. Aliquam erat volutpat. Integer eget quam non massa pharetra placerat id non erat. Duis molestie lectus quam, a interdum dui sollicitudin nec. Nam odio dolor, dictum eget justo vel, egestas ultrices enim. In scelerisque, lorem efficitur semper finibus, ex elit volutpat risus, id feugiat neque quam nec massa. Sed varius nibh metus, in efficitur ante pulvinar at. Nulla facilisi. Aliquam aliquam nibh vel placerat laoreet. Morbi non orci et orci hendrerit aliquam. Pellentesque fermentum leo dapibus turpis feugiat, quis consectetur eros condimentum. Nam egestas leo quis purus accumsan tincidunt.
          Aenean vulputate lacus sit amet malesuada dignissim. Nulla facilisi. Pellentesque tortor arcu, convallis vel tincidunt sit amet, efficitur in nisl. Donec accumsan nec diam a rutrum. Nulla et nulla tristique.</p>
      </div>
    </div>


  <script type="text/javascript" src="vendor/jquery.js"></script>
  <script type="text/javascript" src="vendor/what-input.js"></script>
  <script type="text/javascript" src="vendor/foundation.js"></script>
  <script type="text/javascript" src="vendor/masonry.pkgd.js"></script>
  <script type="text/javascript" src="vendor/imagesloaded.pkgd.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>
