<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Walmark</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user_board.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/vendor/masonry.pkgd.js"></script>
    <script src="/vendor/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="/vendor/foundation.js"></script>
    <script>$(document).foundation();</script>
  </head>



  <body>
  <% include ./partials/_header %>

    <section id="link-container">
        <h3><%=title%></h3>
        <div class="link-info">
            <p class="link-name"><%=full_name%></p>
            <a href="#" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc">Description</p>
            <p class="link-date">Created March 28, 2019</p>
        </div>
        <div class="link-info">
            <p class="link-name"><%=full_name%></p>
            <a href="#" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc">Description</p>
            <p class="link-date">Created March 28, 2019</p>
        </div>
        <div class="link-info">
            <p class="link-name"><%=full_name%></p>
            <a href="#" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc">Description</p>
            <p class="link-date">Created March 28, 2019</p>
        </div>


    </section>


  </body>
</html>
